*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #F7F7F7; */
    font-family: 'Poppins', sans-serif;
}

.navbar-brand span
{
    color: #EE3932;
    font-weight: bold;
}

.navbar-nav {
    text-align: center;
}

ul li {
    padding: 0 1rem;
}

.content h1 {
    color: #EE3932;
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 1rem;
}


.image {
    opacity: 0.85;
    max-width: 100%;
    min-height: 90%;
}

.rocket {
    position: absolute;
    width: 20%;
    height: auto;
    top: 80%;
    left: 70%;
}

#contact {
    background-color: rgb(240, 236, 236);
}

.infor
{
    margin-top: 4rem;
    padding: 0;
    box-sizing: border-box;
}

.email {
    color: #0984e3;
}
.contact-img {
    margin-top: 2rem;
}

footer{
    height: auto;
    text-align: center;
}

footer h5{
    color: #EE3932;
    padding: 1rem;
    font-weight: 100;
    font-size: medium;
}
ul li::after {
  content: '';
  display: block;
  width: 0px;
  height: 3px;
  background-color: #EE3932;
  transition: width .3s linear;
}

ul li:hover::after {
    width: 100%;
    transition: width .3s;
}

@media only screen and (max-width: 600px)
{
    ul li::after {
        content: '';
        display: block;
        width: 0px;
        height: 3px;
        background-color: #EE3932;
        transition: width .3s linear;
        transform: translate(50%);
    }
      
    ul li:hover::after {
        width: 50%;
        transition: width .3s;
    }
    
    .rocket {
        position: absolute;
        width: 20%;
        height: auto;
        top: 80%;
        left: 70%;
    }
    
      
}