*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand span
{
    color: #EE3932;
    font-weight: bold;
}

.navbar-nav {
    text-align: center;
}

ul li {
    padding: 0 1rem;
}

.content h1 {
    color: #EE3932;
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 1rem;
}


.image {
    opacity: 0.85;
    max-width: 100%;
    min-height: 90%;
}

.rocket {
    position: absolute;
    width: 20%;
    height: auto;
    top: 80%;
    left: 70%;
}

#contact {
    background-color: rgb(240, 236, 236);
    box-sizing: border-box;

}

.mission {
    margin-top: 2rem;
    text-align: center;
}
.mission h2
{
    font-weight: 600;
    color: #EE3932;
}

.mission p {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 80%;
    line-height: 1.6;
    text-align: justify;
}
.vision-img {
   margin: 2rem 0;
}
.vision-box {
    width: 33%;
    height: auto;
    display: inline-block;
}
.vision-box img {
    width: 50%;
    margin-bottom: 1rem;
}

.vision-box p,h3 {
    text-align: center;
}
.vision-box p {
    font-weight: 300;
    font-size: large;
    color: black;
    text-align: justify;
}
.skewed {
    margin-top: 2.5rem;
    width: 100%;
    height: 40px;
    background: #efeff5;
    z-index: 0;
    transform: skewY(1.5deg);
}


.infor
{
    margin-top: 4rem;
    padding: 0;
    box-sizing: border-box;
}

.email {
    color: #0984e3;
}
.contact-img {
    margin-top: 2rem;
}

iframe {
   padding-bottom: 1rem;
}

footer{
    height: auto;
    text-align: center;
}

footer h5{
    color: #EE3932;
    padding: 1rem;
    font-weight: 500;
    font-size: medium;
}
ul li::after {
  content: '';
  display: block;
  width: 0px;
  height: 3px;
  background-color: #EE3932;
  transition: width .3s linear;
}

ul li:hover::after {
    width: 100%;
    transition: width .3s;
}

@media only screen and (max-width: 600px)
{
    ul li::after {
        content: '';
        display: block;
        width: 0px;
        height: 3px;
        background-color: #EE3932;
        transition: width .3s linear;
        transform: translate(50%);
    }
      
    ul li:hover::after {
        width: 50%;
        transition: width .3s;
    }
    
    .rocket {
        position: absolute;
        width: 20%;
        height: auto;
        top: 80%;
        left: 70%;
    }   
}

@media only screen and (max-width: 995px)
{
    .vision-box {
        width: 30%;
        height: auto;
        display: inline-block;
    }

    .vision-box img {
        width: 70%;
        margin-bottom: 1rem;
    }

    .vision-box p {
        font-weight: 300;
        font-size: 14px;
        color: black;
        text-align: center;
    }

    .vision-box h3 {
        font-weight: 600;
        font-size: 1rem;
    }
}